<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4 mb-2">{{ welcome }}</h1>
    <p class="lead">Have your ideas written down and stored for you for future use.</p>
    <a href="/ideas/add" class="btn btn-danger btn-large">Add an Idea</a>
</div>